/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    font-family: 'Russo One', sans-serif;
}

.card-img-top{
    width: 200px;
    height: 250px;
}

.card-img-top:hover{
    transform: scale(1.20);
    transition: 0.5; 
}

#card:hover{
    transform: scale(1.20);
    transition: 0.5;
}

.navbar{
    position:fixed;
    width: 100%;
    z-index:1;
    top:0;
}

.py-5{
    /* margin:50px; */
}

.cart1{
    margin:100px;
}
.all{
    margin:50px;
}

